<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <title>Estadísticas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
   <center>
    <h2><u>Estadísticas de la Base de Datos</u></h2>
    <br>
    <table class="tabla">
      
      <tr><td align=center>Número de preguntas: <%=quizes.length%></td></tr>
      <tr><td align=center>Número de comentarios totales: <%=comment.length%></td></tr>
      <tr><td align=center>Número medio de comentarios por pregunta: <%=%></td></tr>
      <tr><td align=center>Número de preguntas sin comentarios: <%=%></td></tr>
      <tr><td align=center>Número de preguntas con comentarios: <%=%></td></tr>
    </table>
  </center>
  </body>
</html>
