<!DOCTYPE html>
<html>
  <head>
    <link rel='icon' href='favicon.ico' type='image/x-icon' />
    <title>Estadísticas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
   <center>
    <h2><u>Estadísticas de la Base de Datos</u></h2>
    <br>
     <%var conComentarios = 0; var nMedio = 0%>
      <% for (index in quiz.Comments){ %>
        <% if(quiz.Comments[index].QuizId) { %>
        <% %>
        <% } %>
      <% } %>
    <table class="tabla2">
     
      <tr><td align=left>Número de preguntas:</td>
          <td align=center><%=quizes.length%></td></tr>
      <tr><td align=left>Número de comentarios totales:</td>
        <td align=center><%=comment.length%></td>
      </tr>
      <tr><td align=left>Número medio de comentarios por pregunta:</td>
          <td align=center><%= nMedio%></td>
      </tr>
      <tr><td align=left>Número de preguntas sin comentarios:</td>
          <td align=center><%= comment.length - conComentarios%></td>
      </tr>
      <tr><td align=left>Número de preguntas con comentarios:</td>
          <td align=center><%= conComentarios%></td>
      </tr>
    </table>
  </center>
  </body>
</html>
